/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

// main css

/****************************************
  Inherited Syles
*****************************************/

html {
    box-sizing: border-box;
    color: white;
    font: 12pt 'Open Sans', sans-serif;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
    Main layout
*****************************************/

.panel > div {
    margin: auto;
}

@media screen and (min-width: 990px) {
    .panel > div {
        width: 960px;
    }
}

.hero {
    // background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/city_view.jpg');
    // background-size: cover;
    > img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 530px;
    }
    > div {
        min-height: 530px;
    }

}

.featured-message {
    background: radial-gradient(rgba(176, 167, 167, 0.27), #000), url('../images/lighthouse.jpg');
    background-size: cover;
    > div {
        min-height: 325px;
    }
}

footer.primary-footer {
    background-color: black;
    > div {
        overflow: hidden;
        color: white;
    }
}

/****************************************
    Sub-layout
*****************************************/

main {
    overflow: hidden;
}

section.main-content {
    &:first-child {
        width: 50%;
        float: left;
    }
    &:last-child {
        overflow: hidden;
    }
}

.content-tiles {
    min-height: 500px;
}

.subject-tiles {
    background-color: rgba(239, 239, 239, 1);
    text-align: center;
    a {
        min-height: 90px;
        display: inline-block;
        font-size: 30px;
        margin-top: 35px;
        text-decoration: none;
        color: black;
    }
}


.footer-side {
    min-height: 360px;
    overflow: hidden;
    &:first-child {
        width: 50%;
        float: left;
    }
    &:last-child {
    }
}


/****************************************
    components
*****************************************/

.primary-header {
    text-align: center;
    position: relative;
    a {
        position: absolute;
        top: 5px;
        left: 10px;
        color: black;
        font-size: 40px;
    }
    p {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
    }

}

.breakouts {
    background: radial-gradient(rgba(176, 167, 167, 0.27), #000);
    overflow: hidden;
    transform: translateY(-100px);
    box-shadow: 0 0 20px -3px black;
}

.breakout {
    float: left;
    width: 33.33%;
    height: 200px;
    text-align: center;
    position: relative;
    &:nth-child(1) {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/crafts.jpg');
        background-size: 100% 100%;
    }
    &:nth-child(2) {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/giraffe.jpg');
        background-size: 100% 100%;
        }
    &:nth-child(3) {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/ship.jpg');
        background-size: 100% 100%;
    }
    p {
        font-weight: bold;
        font-size: 25px;
        color: #fff;
        margin: 0;
        width: 300px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 75px;
        text-transform: uppercase;
    }
}

.main-content {
    p {
        margin: 0;
        &:first-child {
            font-size: 35px;
            font-family: 'Libre Baskerville', serif;
            font-weight: 600;
        }
        &:last-child {
            font-family: 'Lato', sans-serif;
            font-size: 14px;
        }
    }

    .graphic {
        height: 500px;
        width: 385px;
    }
    img {
        box-shadow: 0 0 20px -3px black;
    }
    .graphic:last-child {
        margin-left: 40px;
        min-height: 400px;
    }
    .content {
        min-height: 365px;
        margin-top: 90px;
    }
}

.main-content:last-child .content {
    min-height: 400px;
    margin: 0 0 55px 0;
    position: relative;
    // background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/ship.jpg');
    background: radial-gradient(rgba(255, 255, 255, 0.80), rgba(255, 255, 255, 1)), url("../images/ship.jpg");
    background-size: 100% 100%;
    > div {
        position: absolute;
        bottom: 0;
    }
}

.featured-message .message {
    margin-left: 50%;
    width: 500px;
    padding-top: 65px;
    p {
        margin: 0;
        color: white;
        font-size: 15px;
    }
    p:nth-child(1) {
        font-family: 'Libre Baskerville', serif;
        font-size: 31px;
    }
    p:nth-child(2) {
        font-family: 'Lato', sans-serif;
        margin-bottom: 15px;
    }
}

.heading-tiles {
    text-align: center;
    font-size: 35px;
    padding: 35px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
}

.content-tiles .tile {
    width: 30%;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    margin-left: 20px;
    box-shadow: 0 0 10px -3px black;

    .graphic {
        height: 225px;
    }
    .content {
        min-height: 275px;
        padding: 0 10px;
        p:nth-child(1) {
            margin: 0;
            height: 70px;
            font-size: 20px;
            font-family: 'Libre Baskerville', serif;
        }
        p:nth-child(2) {
            margin: 0;
            height: 155px;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
        }
        footer {
            height: 50px;
        }
    }
}

.footer-side:first-child{
    font-family: 'Lato', sans-serif;
    > p {
        display: inline-block;
        margin: 45px 0;
        font-size: 18px;
        border-bottom: solid 2px white;
        text-transform: uppercase;
    }

    div p {
        font-size: 21px;
        text-transform: uppercase;
        font-weight: bold;
    }

    div:nth-child(2) {
        float: left;
        margin-right: 75px;
    }

    div:nth-child(3) {
        overflow: hidden;
    }

    a {
        text-decoration: none;
        display: block;
        font-size: 13px;
        color: white;
    }
}

.footer-side:last-child > div {
    // height: 150px;
    // width: 150px;
    // margin: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
    text-align: center;
    p {
        font-family: 'Pacifico', cursive;
        font-size: 45px;
    }

    i {
        font-size: 24px;
        margin-left:3px;
    }
}

