/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

// main css

/****************************************
  Inherited Syles
*****************************************/

html {
    box-sizing: border-box;
    color: white;
    font: 12pt 'Open Sans', sans-serif;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
    Main layout
*****************************************/

.panel > div {
    width: 960px;
    margin: auto;
}

.hero {
    background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/city_view.jpg');
    background-size: cover;
    > div {
        // background-color: blue;
        min-height: 675px;
    }
}

.primary-content > div {
    // background-color: orange;
}

.featured-message {
    background: radial-gradient(rgba(176, 167, 167, 0.27), #000), url('../images/lighthouse.jpg');
    background-size: cover;
    > div {
        // background-color: red;
        min-height: 325px;
    }
}

.subject-tiles {
    // background-color: green;
    background-color: rgba(239, 239, 239, 1);

}

.primary-footer {
    background-color: black;
    > div {
        overflow: hidden;
        color: white;
    }
}

/****************************************
    Sub-layout
*****************************************/

header.primary-header {
    // background-color: magenta;
    min-height: 125px;
}

.breakouts {
    // background-color: lime;
    // padding: 15px;
    background: radial-gradient(rgba(176, 167, 167, 0.27), #000)
}

main {
    overflow: hidden;
}

section.main-content {
    &:first-child {
        // background-color: brown;
        width: 50%;
        float: left;
    }
    &:last-child {
        // background-color: yellow;
        overflow: hidden;
    }
}


.heading-tiles {
    // background-color: lime;
    min-height: 125px;
}

.content-tiles {
    // background-color: blue;
    min-height: 500px;
}

.subject-tiles {
    text-align: center;
    a {
        // background-color: orange;
        min-height: 90px;
        display: inline-block;
        font-size: 30px;
        margin-top: 35px
    }
}


.footer-side {
    min-height: 350px;
    overflow: hidden;
    &:first-child {
        // background-color: grey;
        width: 50%;
        float: left;
    }
    &:last-child {
        // background-color: yellow;
    }
}


/****************************************
    components
*****************************************/

.primary-header {
    text-align: center;
    position: relative;
    a {
        position: absolute;
        left: 0;
    }
    div {
        font-size: 50px;
        margin: 0;
        // padding: 20px;
    }

}

.breakouts {
    // background-color: pink;
    overflow: hidden;
    transform: translateY(-100px);
}

.breakout {
    float: left;
    width: 33.33%;
    height: 200px;
    text-align: center;
    position: relative;
    &:nth-child(1) {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/crafts.jpg');
        background-size: 100% 100%;
        // background-color: red;
    }
    &:nth-child(2) {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/giraffe.jpg');
        background-size: 100% 100%;
        // background-color: lime;
        }
    &:nth-child(3) {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/ship.jpg');
        background-size: 100% 100%;
        // background-color: aqua;
    }
    p {
        font-size: 30px;
        color: #fff;
        margin: 0;
        width: 300px;
        // margin-top: 80px;
        font-weight: bold;
        position: absolute;
        // transform: translateX(-50%);
        right: 50%;
        transform: translateX(50%);
        top: 75px;
    }
}

.main-content {
    p {
        margin: 0;
        &:first-child {
            font-size: 35px;
            font-family: Georgia, serif;
            font-weight: 600;
        }
        &:last-child {
            font-size: 14px;
        }
    }
    .graphic {
        background: radial-gradient(transparent, rgba(0, 0, 0, 0.27)), url('../images/biker.jpg');
        background-size: 100% 100%;
        // background-color: chartreuse;
        min-height: 500px;
        width: 385px;
    }

    .graphic:last-child {
        margin-left: 40px;
        min-height: 400px;
    }
    .content {
        // background-color: darkcyan;
        min-height: 400px;
        margin-top: 90px;
    }
}

.main-content:last-child .content {
    position: relative;
    > div {
        position: absolute;
        bottom: 60px;
    }
}

.featured-message .message {
    margin-left: 50%;
    width: 545px;
    padding-top: 65px;
    p {
        margin: 0;
        color: white;
    }
    p:nth-child(1) {
        font-family: Georgia, serif;
        font-size: 35px;
    }
    p:nth-child(2) {
        margin-bottom: 15px;
    }
}

.heading-tiles {
    text-align: center;
    font-size: 35px;
    padding-top: 35px;
    font-family: Georgia, serif;
}

.content-tiles .tile {
    width: 30%;
    display: inline-block;
    text-align: left;
    background-color: #fff;
    margin-left: 20px;

    .graphic {
        // background-color: orange;
        height: 225px;
    }
    .content {
        // background-color: pink;
        min-height: 275px;
        p:nth-child(1) {
            // background-color: gray;
            margin: 0;
            min-height: 70px;
            font-size: 23px;
            font-family: Georgia, serif;
        }
        p:nth-child(2) {
            // background-color: lime;
            margin: 0;
            min-height: 155px;
            font-size: 14px;
        }
        footer {
            min-height: 50px;
        }
    }
}

// .content-tiles .graphic {
//     &:nth-child(1) {
//         background-image: url('../images/light-bulb.jpg');
//         background-size: contain;
//     }
//     &:nth-child(2) {
//         background-image: url('../images/ship.jpg');
//         background-size: contain;
//     }
//     &:nth-child(3) {
//         // background-image: url('../images/light-bulb.jpg');
//         background-size: contain;
//     }
// }

.footer-side:first-child{
    > p {
        display: inline-block;
        margin-top: 45px;
        font-size: 23px;
        border-bottom: solid 2px white;
    }

    div p {
        font-size: 23px;
    }

    div:nth-child(2) {
        float: left;
        // background-color: yellow;
        margin-right: 75px;
    }

    div:nth-child(3) {
        // background-color: white;
        overflow: hidden;
    }

    a {
        text-decoration: none;
        display: block;
        font-size: 15px;
    }
}

.footer-side:last-child > div {
    // background-color: black;
    height: 150px;
    width: 150px;
    margin: auto;
    margin-top: 50px;
}

